# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages
warnings_are_errors: true

r:
  - oldrel
  - release
  - devel

os:
  - linux
  - osx

compiler:
  - gcc
  - clang
  
after_success:
  - Rscript -e 'covr::codecov()'
  
